<!--<mat-sidenav-container class="sidenav-container">-->
<!--<mat-sidenav-content>-->
<mat-toolbar class="bottom down {{m}}">
    <div class="spacer"></div>
    <button type="button" aria-label="Toggle sidenav" style="transition: 1s" mat-icon-button>
        <mat-icon aria-label="Side nav toggle icon"  (click)="go()">{{p?'menu':'close'}}</mat-icon>
      </button>

    <!--<div class="dropdown" (mouseover)="ent()" (mouseout)='ext()'>-->
    <a (mouseover)="ent()" (mouseout)='ext()' mat-button>
        <span class="menu-text">Shop</span>
        <mat-icon (mouseout)='ext()'>{{a?'keyboard_arrow_right':'keyboard_arrow_down'}}</mat-icon>
    </a>

    <!--</div>-->
    <div class="spacer"></div>
    <img src="../assets/emanus_signature_horizontal.png" width="250px" alt="">
    <div class="spacer"></div>

    <mat-icon (click)="go()">search</mat-icon>

    <a mat-button>Schedule an appointment</a>
    <div class="spacer"></div>
</mat-toolbar>
<div class="shop-menu {{shopMenu}}" (mouseover)="ent()" (mouseout)='ext()'>
    <a><img src="../assets/pic1.jpeg" alt=""></a>
    <a><img src="../assets/pic3.jpeg" alt=""></a>
    <a><img src="../assets/pic3.jpeg" alt=""></a>
    <a><img src="../assets/pic4.jpeg" alt=""></a>
</div>
<app-menu [show]='p'></app-menu>
<app-body [zindex]='zindex'></app-body>
<!-- Add Content Here -->
<!--</mat-sidenav-content>-->