<mat-selection-list class="drawer" [ngStyle]="{ 'opacity': num, 'z-index':zindex}" [multiple]="false">
    <mat-list-option class="drawer-item">
        hello 1
    </mat-list-option>
    <mat-list-option class="drawer-item">
        hello 2
    </mat-list-option>
    <mat-list-option class="drawer-item">
        hello 3
    </mat-list-option>
    <mat-list-option class="drawer-item">
        hello 4
    </mat-list-option>
    <mat-list-option class="drawer-item">
        hello 5
    </mat-list-option>
</mat-selection-list>