<mat-grid-list cols="3" rowHeight="300px" style="width: 70%; margin: auto; margin-top:25px ">
    <mat-grid-tile [colspan]="1" [rowspan]="1">

        <div style="width: 300px; height: 300px">
            <img src="../assets/emanus_signature_logo_stacked.png" alt="" width="250">
            <strong> Service 1 LOGO HAS TO BE HERE</strong>

        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">

        <div style="width: 300px; height: 300px">
            <button mat-fab color="warn" style="width: 150px; height: 150px" aria-label="Example icon button with a delete icon">
        <strong> Service 2</strong>
        </button>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">

        <div style="width: 300px; height: 300px">
            <button mat-fab color="accent" style="width: 150px; height: 150px" aria-label="Example icon button with a delete icon">
        <strong> Service 3</strong>
        </button>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">

        <div style="width: 300px; height: 300px">
            <button mat-fab color="primary" style="width: 150px; height: 150px" aria-label="Example icon button with a delete icon">
        <strong> Service 4</strong>
        </button>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">

        <div style="width: 300px; height: 300px">
            <button mat-fab color="warn" style="width: 150px; height: 150px">
        </button>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">

        <div style="width: 300px; height: 300px">
            <button mat-fab color="accent" style="width: 150px; height: 150px" aria-label="Example icon button with a delete icon">
        <strong> Service 6</strong>
        </button>
        </div>
    </mat-grid-tile>
</mat-grid-list>